<div class="home-container">
  <h3>Table Data</h3>
  <share-button></share-button>
  <!-- <share-input-customer (click-event)="handleInput($event)"></share-input-customer> -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Status</th>
        <th>Email</th>
        <th>No HP</th>
        <th>Is RO</th>
        <th>Income</th>
        <th>Jatuh Tempo</th>
        <th>Registered Since</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of recieverDataFromInput">
        <td>{{ customer.name }}</td> 
        <td>{{ customer.address }}</td>
        <td>{{ customer.status }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.noHp }}</td>
        <td>{{ customer.isRo }}</td>
        <td>{{ customer.income | currency:'Rp '}}</td>
        <td>{{ customer.jatuhTempo | date:'shortDate' }}</td>
        <td>{{ customer.registeredSince | date:'shortDate' }}</td>
      </tr>
    </tbody>
  </table>
</div>