<div class="home-container">
  <h3>Table Data</h3>
  <share-button></share-button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Status</th>
        <th>Email</th>
        <th>No HP</th>
        <!-- <th>Is RO</th> -->
        <th>Income</th>
        <th>Jatuh Tempo</th>
        <!-- <th>Registered Since</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of recieverDataFromInput"
       [ngClass]="{
        'near-due': isNearDueDate(customer.dueDate),
        'over-due': isOverdue(customer.dueDate)
      }">
        <td>{{ customer.name }}</td> 
        <td>{{ customer.address }}</td>
        <td>{{ customer.status ? 'Active' : 'Inactive' | uppercase}}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <!-- <td>{{ customer.isRo }}</td> -->
        <td>{{ customer.income | currency:'Rp '}}</td>
        <td>{{ customer.dueDate | date:'longDate' }}</td>
        <!-- <td>{{ customer.registeredSince | date:'shortDate' }}</td> -->
        <td><button class="btn-primary"  (click)="goToDetail(customer.name)">Detail</button></td>
      </tr>
    </tbody>
  </table>
</div>